<h2>Latest Posts</h2>
<br>

<% @results.each do |hh| %>
  <p>
    <%= hh['Content'] %>
    <br />
    <%= hh['created_date'] %>
    <br />
    <a href="/details/<%= hh['id'] %>">Comments</a>
  </p>
  <hr />
<% end %>
